version: '3.8'

networks:
  external-net:
    driver: bridge
  internal-net:
    driver: bridge
    internal: true

volumes:
  postgres_data:
  
services:
  database:
    image: postgres:15.8
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/script.sql:/docker-entrypoint-initdb.d/script.sql:ro
    networks:
      - internal-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 3s
      timeout: 3s
      retries: 5
    restart: unless-stopped
    expose:
      - "5432:5432"

  backend:
    build: ./backend
    environment:
      port: ${BACKEND_PORT}
      db_port: ${DATABASE_PORT}
      user: ${DATABASE_USER}
      pass: ${DATABASE_PASSWORD}
      host: database
      database: ${DATABASE_NAME}
    networks:
      - internal-net
    expose:
      - "3001:3001"
    depends_on:
      database:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3001/api"]
      interval: 3s
      timeout: 3s
      retries: 5
    restart: unless-stopped

  proxy:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend:/usr/share/nginx/html
    networks:
      - external-net
      - internal-net
    restart: unless-stopped
    depends_on:
      backend:
        condition: service_healthy