**/node_modules
**/npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.env.local
.env.production
.env.development
.nyc_output
coverage
.coverage
.coverage/
*.log
*.tar
*.tar.gz
*.tgz
.npm
.pnpm-store
.cache
.terraform
.idea
.vscode
*.tsbuildinfo